body, h1, p, a{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:#f4f4f4;
    color: #333
}

header{
    background-color: rgb(130, 130, 247);
    color: white;
    padding: 20px;
    text-align: center;
}
 h1{
    margin: 10px 0;
 }

 p{
    margin: 10px;
 }
  
nav{
    background: rgb(91, 91, 250);
    text-align: center ;
    padding: 10px 0;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    transition: background 0.3s;
}

main{
    display: flex;
    margin: 20px;
}

section, aside{
    
    
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



footer{
    text-align: center;
    padding: 500px;
    background: rgb(130, 130, 247);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%
}

aside img{
    margin: 5px;
    width: 25px;
    height: auto;
}