body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(130, 130, 247);
    color: #333;
}

header{
    background-color: rgb(130, 130, 247);
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    background: rgb(91, 91, 250);
    text-align: center ;
    padding: 10px 0;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    transition: background 0.3s;
}

main {
 background-color: white;
 max-width: 400px;
 border-radius:8px
}

h1{
    color:#333;
}

form {
    color:#333;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin: 10px 0 5px;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 50%;
    padding: 5px;
    margin-bottom: 15px;
 
}

button {
    background-color:rgb(91, 91, 250);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}